a{
  text-decoration: none;
}

hr{
  margin: 0;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{
  display: flex;
  justify-content: center;
}

footer{
  display: flex;
  justify-content: center;
}

.bottom-nav-wrapper{
  display: flex;
  justify-content: center;
  width: 1000px;
}
.bottom-nav{
  display: flex;
  justify-content: space-between;
  width: 900px;
}

.bottom-nav p {
  font-family: 'Lora', serif;
  font-size: 11.4px;
  line-height: 14px;
}

header{
  width: 1000px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

hr{
  width: 1000px;
}

.header-contents{
  width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > p {
  font-size: 16.8px;
  font-family: 'Lora', serif;
  margin: 0;
}

/*=============================
  main section
  =============================*/

.main-wrapper{
  display: flex;
  flex-direction: row;
}

.bio-column{
  /*border: 1px solid green;*/
  height: 70vh;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.bio-column h1{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  word-spacing: 12px;
  word-break: break-all;
  color: #272727;
  font-size: 38.4px;
  font-family: 'Lora-Regular', serif;
}

.tagline{
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

.bio{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.triangle-bg{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 400px solid #EBEBEB;
  transform: rotate(10deg);
  position: relative;
  top: 30px;
  right: -65px;
}

.triangle-fg{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 420px solid #85FDF3;
  transform: rotate(175deg);
  position: relative;
  top: -155px;
  right: -65px;
}

.triangle-fg img{
  position: absolute;
  height: 400px;
  top:34px;
  right: -200px;

}
