

/*=============================
  main section
  =============================*/

.main-wrapper{
  display: flex;
  flex-direction: row;
}

.bio-column{
  /*border: 1px solid green;*/
  height: 70vh;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.bio-column h1{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  letter-spacing: 2px;
  word-spacing: 12px;
  word-break: break-all;
  color: #272727;
  font-size: 38.4px;
  font-family: 'Lora-Regular', serif;
}

.tagline{
  padding-top: 20px;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Lora', serif;
}

.bio{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  text-align: justify;
}

.triangle-bg{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 400px solid #EBEBEB;
  transform: rotate(10deg);
  position: relative;
  top: 30px;
  right: -320px;
}

.right-column-landing{
  height: 80vh;
  width: 570px;
  display: flex;
  justify-content: center;
}

.triangle-fg{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 420px solid #85FDF3;
  transform: rotate(175deg);
  position: relative;
  top: 280px;
  right: 220px;
}

.triangle-fg img{
  position: absolute;
  height: 400px;
  top:36px;
  right: -200px;

}
