a{
  text-decoration: none;
}

hr{
  margin: 0;
}

body{
  margin: 0;
}

.bottom-nav-wrapper{
  display: flex;
  justify-content: center;
}
.bottom-nav{
  display: flex;
  justify-content: space-between;
  width: 80vw;
}

.bottom-nav p {
  font-family: 'Lora', serif;
  font-size: 11.4px;
  line-height: 14px;
}

header{
  width: 100vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.header-contents{
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header > p {
  font-size: 16.8px;
  font-family: 'Lora', serif;
  margin: 0;
}

.main-wrapper{
  display: flex;
  flex-direction: row;
}

.greeting{
  text-align: center;
  padding-top: 20px;
}

.input-column span{
  color: #C8EEEB;

}

.input-column{
  /*border: 1px solid green;*/
  display: flex;
  flex-direction: column;
  width: 380px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.input-column .sm-input{
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 380px;
  outline: none;
  font-family: 'Lora', serif;
  font-size: 15px;
  outline: none;
}

input[placeholder=Bio]{
  padding-bottom: 200px;
  padding-top: 10px;
  margin: 0px;
  font-family: 'Lora', serif;
  font-size: 15px;
  outline: none;
  width: 380px;
}

.button-wrapper button{
  font-family: 'Lora', serif;
  font-size: 15px;
  border: none;
  outline: none;
  background: none;
  padding: 10px;
  width: 30vw;
}

.button-wrapper{
  background-color: #85FDF3;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  width: 400px;

}

.right-column{
  /*border: 1px solid green;*/
  height: 90vh;
  width: 570px;
  display: flex;
  justify-content: center;
}

.triangle-bg{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 400px solid gray;
  transform: rotate(10deg);
  position: relative;
  top: 30px;
  right: -300px;
}

.triangle-fg{
  width: 0;
  height: 0;
  border-left: 300px solid transparent;
  border-right: 240px solid transparent;
  border-bottom: 420px solid #85FDF3;
  transform: rotate(175deg);
  position: relative;
  top: 235px;
  right: 240px;
}
