<main ng-app="internApp">
    <div class="main-wrapper">
        <div class="bio-column" ng-repeat="info in friendData">

            <h1 class="userName">{{info.fullName}}</h1>
            <p class="tagline">{{info.tagline}}</p>
            <p class="bio">{{info.bio}}</p>

        </div>
        </div>
        <div class="right-column-landing">
          <div class="triangle-bg">

          </div>
          <div class="triangle-fg" style="text-align:center">
            <img src="https://i.vimeocdn.com/portrait/2859117_300x300" style="opacity:.2; transform:rotate(-175deg)">
          </div>

          
      </div>
    </div>
  </main>
